body {
    background-color: rgb(149, 149, 219);
}
h1 {
    text-align: center;
    font-size: 70px;
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 3s;
    margin-top: 20%;
}
h1:hover {
    transform: rotateX(20deg) rotateY(20deg);
    text-shadow: -3px -3px 3px rgba(155, 183, 219, 0.4), 
    -5px -5px 5px rgba(255, 255, 255, 0.3), 
    -7px -7px 7px rgba(255,255,255,0.2), 
    -9px -9px 9px rgba(255,255,255,0.1), 
    5px 5px 5px rgba(0, 0, 0, 0.3);
}